<h3>政治分野第一章</h3>
<ul>
  {% assign tag_name = "国家とは何か" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "国家の正当性の原理" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "法の支配と法治主義" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "人権の拡大" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "世界の政治制度" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "政党" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>
</ul>

<h3>政治分野第二章</h3>
<ul>
  {% assign tag_name = "大日本帝国憲法と日本国憲法" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本国憲法の制定" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本国憲法と国防" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本国憲法と人権（総論）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本国憲法と人権（自由権）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本国憲法と人権（参政権）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本国憲法と人権（社会権）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本国憲法と人権（平等権）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本国憲法と人権（請求権）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "新しい人権" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>
</ul>

<h3>政治分野第三章</h3>
<ul>
  {% assign tag_name = "立法府（国会）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "行政府（内閣）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "司法府（裁判所）" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "選挙制度" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "現代日本の政党政治" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "地方自治" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>
</ul>

<h3>政治分野第四章</h3>
<ul>
  {% assign tag_name = "国際政治の誕生と発展" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "戦後国際政治史―ColdWar" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "現代国際政治史―ModernWarfare" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "世界の紛争" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "戦後日本の国際政治" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "国際連合" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>
</ul>

<h3>経済分野第一章</h3>
<ul>
  {% assign tag_name = "資本主義" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "比較生産費説" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "社会主義" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "経済の三主体" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "需要供給曲線" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "市場の失敗" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "企業とは" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "通貨とは何か" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "フローとストック" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "経済成長率" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "景気変動とインフレ、デフレ" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "財政、予算、会計" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "金融政策と銀行" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "貧富の格差を表す指標" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "税" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "国際経済の仕組み" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>
</ul>

<h3>経済分野第二章</h3>
<ul>
  {% assign tag_name = "労働問題" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "社会保障" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "今日的な福祉問題" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "消費者問題" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "公害問題、環境問題" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>
</ul>

<h3>経済分野第三章</h3>
<ul>
  {% assign tag_name = "国際経済通史" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "国際経済テーマ史" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>
</ul>

<h3>経済分野第四章</h3>
<ul>
  {% assign tag_name = "日本経済通史" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "日本経済テーマ史" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>
</ul>

<h3>その他の問題</h3>
<ul>
  {% assign tag_name = "国語問題" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "計算問題" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "時事問題" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

  {% assign tag_name = "倫理分野" %}
  {% assign tag_link = site.data.tag_links[tag_name] %}
  {% assign tag_posts = site.tags[tag_name] %}
  <li><a href="{{ site.baseurl }}{{ tag_link }}">{{ tag_name }} ({{ tag_posts | size }})</a></li>

</ul>