<div class="book-summary">
    <script type="text/javascript">
        // デスクトップとモバイルブラウザの両方でページリンクのスクロール問題を修正する
        function pageScrollToTop(element) {
            // ページのトップにスムーズにスクロールする
            $('div.body-inner').animate({scrollTop: 0});
            // すべての兄弟要素から 'active' クラスを削除する
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // 伝播する
        }
        // モバイルブラウザでアンカーリンクのスクロール問題を修正する
        function mobilePageScrollToAnchor(element) {
            // 最も近い 'chapter' のすべての兄弟要素から 'active' クラスを削除する
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            // 親要素に 'active' クラスを追加する
            $(element).parent().addClass('active');
            // ドキュメントの幅が1240px以下の場合、アンカーにスクロールする
            if ($(document).width() <= 1240) {
                $('div.body-inner').animate({scrollTop: $($(element).attr('href')).get(0).offsetTop});
            }
            return true;
        }
    </script>

    <nav role="navigation">
        <div id="book-search-input" role="search">
            <!-- 検索機能の入力フィールド -->
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <!-- 検索ページへのリンク -->
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <!-- インデックスページをアクティブとしてマークする -->
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <!-- 非インデックスページ用の通常のリストアイテム -->
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <!-- サイトのホームページへのリンク -->
                <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li> <!-- 区切り線 -->

            {% for collection in site.collections %}
            {% if collection.label == "pages" %}
                <!-- 'pages'コレクションをそのまま代入する -->
                {% assign pages_list = site[collection.label] %}

                {% for page in pages_list %}
                    {% if page.url == page.url %}
                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{page.url}}">
                    {% else %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{page.url}}">
                    {% endif %}
                        <a href="{{site.baseurl}}{{page.url}}" onclick="pageScrollToTop(this)">
                            {{ page.title | escape }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</div>
