<div class="book-summary">
    <script type="text/javascript">
        // デスクトップとモバイルブラウザの両方でページリンクのスクロール問題を修正する
        function pageScrollToTop(element) {
            // ページのトップにスムーズにスクロールする
            $('div.body-inner').animate({scrollTop: 0});
            // すべての兄弟要素から 'active' クラスを削除する
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // 伝播する
        }
        // モバイルブラウザでアンカーリンクのスクロール問題を修正する
        function mobilePageScrollToAnchor(element) {
            // 最も近い 'chapter' のすべての兄弟要素から 'active' クラスを削除する
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            // 親要素に 'active' クラスを追加する
            $(element).parent().addClass('active');
            // ドキュメントの幅が1240px以下の場合、アンカーにスクロールする
            if ($(document).width() <= 1240) {
                $('div.body-inner').animate({scrollTop: $($(element).attr('href')).get(0).offsetTop});
            }
            return true;
        }
    </script>

    <nav role="navigation">
        <div id="book-search-input" role="search">
            <!-- 検索機能の入力フィールド -->
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <!-- 検索ページへのリンク -->
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">

            <!-- りっくんから引き継いだ時あったもの、トップページへのリンク
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
                    {{ site.title | escape }}
                </a>
            </li>
            -->

            <!-- ↓トップページ等へのリンク↓ -->

            <li class="chapter" data-level="1.1">
                <a href="{{ site.baseurl }}">公民問題集トップページへ</a>
            </li>
            <li class="chapter" data-level="1.1">
                <a href="https://teacheramesaka.github.io/studyfiles/">雨坂先生の復習用資料集へ</a>
            </li>

            <li class="divider"></li> <!-- 区切り線 -->

            <!-- ↓全問へのリンク↓ -->

            <li class="chapter" data-level="1.1">
                <span class="toggle"></span>
                <a href="javascript:void(0);" onclick="pageScrollToTop(this)">共テ過去問全問を探す</a>
                <ul>
                    <li><a href="{{ site.baseurl }}/pages/R07kyoteshisaku-kokyoseikei">R07 共テ試問 公共、政治・経済</a></li>
                    <li><a href="{{ site.baseurl }}/pages/R06kyote-seikei-honshi">R06 共テ本試 政治・経済</a></li>
                    <li><a href="{{ site.baseurl }}/pages/R06kyote-seikei-tsuishi">R06 共テ追試 政治・経済</a></li>
                </ul>
            </li>
            <li class="divider"></li>

        <li class="divider"></li> <!-- 区切り線 -->

            <!-- ↓各種タグへのリンク↓ -->

        <li class="chapter" data-level="1.1">
            <span class="toggle"></span>
            <a href="javascript:void(0);" onclick="pageScrollToTop(this)">タグ検索で問題を探す</a>
            <ul>
                <li class="chapter" data-level="2.1">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">政治分野第一章</a>
                    <ul>
                        {% assign tagname = "国家とは何か" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol01_01">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "国家の正当性の原理" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol01_03">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "法の支配と法治主義" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol01_04">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "人権の拡大" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol01_05">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "世界の政治制度" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol01_07">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "政党" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol01_08">{{ tagname }} ({{ tagged_posts | size }})</a></li>
                    </ul>
                </li>
                <li class="chapter" data-level="2.2">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">政治分野第二章</a>
                    <ul>
                        {% assign tagname = "大日本帝国憲法と日本国憲法" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_01">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "日本国憲法の制定" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_02">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "日本国憲法と国防" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_03">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "日本国憲法と人権（自由権）" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_05">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "日本国憲法と人権（参政権）" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_06">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "日本国憲法と人権（社会権）" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_07">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "日本国憲法と人権（平等権）" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_08">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "日本国憲法と人権（請求権）" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_09">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "新しい人権" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol02_10">{{ tagname }} ({{ tagged_posts | size }})</a></li>
                    </ul>
                </li>
                <li class="chapter" data-level="2.3">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">政治分野第三章</a>
                    <ul>
                        {% assign tagname = "立法府（国会）" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol03_02">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "行政府（内閣）" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol03_03">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "司法府（裁判所）" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol03_04">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "選挙制度" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol03_05">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "現代日本の政党政治" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol03_06">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "地方自治" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol03_07">{{ tagname }} ({{ tagged_posts | size }})</a></li>
                    </ul>
                </li>
                <li class="chapter" data-level="2.4">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">政治分野第四章</a>
                    <ul>
                        {% assign tagname = "国際政治の誕生と発展" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol04_01">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "戦後国際政治史―ColdWar" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol04_02">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "現代国際政治史―ModernWarfare" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol04_03">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "世界の紛争" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol04_04">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "戦後日本の国際政治" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol04_05">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "国際連合" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/pol04_06">{{ tagname }} ({{ tagged_posts | size }})</a></li>
                    </ul>
                </li>
                <li class="chapter" data-level="2.5">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">経済分野第一章</a>
                    <ul>
                        {% assign tagname = "資本主義" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_01">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "比較生産費説" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_01b">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "社会主義" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_02">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "経済の三主体" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_04">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "需要供給曲線" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_05">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "市場の失敗" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_06">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "企業とは" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_07">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "通貨とは何か" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_08">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "フローとストック" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_09">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "経済成長率" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_10">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "景気変動とインフレ、デフレ" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_11">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "財政、予算、会計" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_12">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "金融政策と銀行" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_13">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "貧富の格差を表す指標" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_14">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "税" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_15">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "国際経済の仕組み" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco01_16">{{ tagname }} ({{ tagged_posts | size }})</a></li>
                    </ul>
                </li>
                <li class="chapter" data-level="2.6">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">経済分野第二章</a>
                    <ul>
                        {% assign tagname = "労働問題" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco02_01">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "社会保障" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco02_02">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "今日的な福祉問題" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco02_03">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "消費者問題" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco02_04">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "公害問題、環境問題" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco02_05">{{ tagname }} ({{ tagged_posts | size }})</a></li>
                    </ul>
                </li>
                <li class="chapter" data-level="2.7">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">経済分野第三章</a>
                    <ul>
                        {% assign tagname = "国際経済通史" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco03_01">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "国際経済テーマ史" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco03_02">{{ tagname }} ({{ tagged_posts | size }})</a></li>
                    </ul>
                </li>
                <li class="chapter" data-level="2.8">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">経済分野第四章</a>
                    <ul>
                        {% assign tagname = "日本経済通史" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco04_05">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "日本経済テーマ史" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/eco04_06">{{ tagname }} ({{ tagged_posts | size }})</a></li>
                    </ul>
                </li>
                <li class="chapter" data-level="2.9">
                    <span class="toggle"></span>
                    <a href="javascript:void(0);" onclick="pageScrollToTop(this)">その他の問題</a>
                    <ul>
                        {% assign tagname = "国語問題" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/landessprache">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "計算問題" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/berechnung">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "時事問題" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/zeitproblem">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                        {% assign tagname = "倫理分野" %}
                        {% assign tagged_posts = site.posts | where: "tags", tagname %}
                        <li><a href="{{ site.baseurl }}/tag/zeitproblem">{{ tagname }} ({{ tagged_posts | size }})</a></li>

                    </ul>
                </li>
            </ul>
        </li>

    </ul>
    </nav>
</div>