<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- head.htmlをインクルードして、ページの<head>セクションに共通のメタデータやスタイルシート、スクリプトを挿入 -->
    {%- include head.html -%}

    <!-- 前のページが存在する場合、そのURLへのリンクを設定 -->
    {% if page.previous %}
        <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
    <!-- 前のページが存在しない場合、ホームページへのリンクを設定 -->
    {% else %}
        <link rel="prev" href="{{site.baseurl}}/" />
    {% endif %}

    <!-- 次のページが存在する場合、そのURLへのリンクを設定 -->
    {% if page.next %}
        <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
    {% endif %}
</head>
<body>
    <div class="book">

        <!-- 目次をページ上部に表示 -->
        <div class="toc">
            {%- include toc-date.html -%}
        </div>

        <div class="book-body">
            <div class="book-header" role="navigation">
                <!-- 条件付きタイトル表示 -->
                {% if page.show_title != false %}
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        <!-- ページにtitleが設定されている場合、そのタイトルを表示 -->
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        <!-- そうでない場合、サイト全体のタイトルを表示 -->
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                {% endif %}
            </div>

            <div class="body-inner">
                <!-- body.htmlをインクルードして、ページの主要なコンテンツを挿入 -->
                {%- include body.html -%}

                <!-- 前のページが存在する場合、そのページへのナビゲーションリンクを設定 -->
                {% if page.previous %}
                    <a href="{{site.baseurl}}{{page.previous.url}}" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{page.previous.title}}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                <!-- 前のページが存在しない場合、ホームページへのナビゲーションリンクを設定 -->
                {% else %}
                    <a href="{{site.baseurl}}/" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{site.title}}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                {% endif %}

                <!-- 次のページが存在する場合、そのページへのナビゲーションリンクを設定 -->
                {% if page.next %}
                    <a href="{{site.baseurl}}{{page.next.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{page.next.title}}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- ページが変更されたことをGitBookに通知するスクリプトを追加 -->
    <script>
    var gitbook = gitbook || [];
    gitbook.push(function() {
        gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
    });
    </script>

    <!-- footer.htmlをインクルードして、ページのフッターを挿入 -->
    {%- include footer.html -%}

</body>
</html>