<!DOCTYPE HTML>
<html lang="en">
<head>
    {%- include head.html -%}
</head>
<body>
    <div class="book">
        {%- include toc-date.html -%}

        <div class="book-body">
            <div class="body-inner">
                <!-- 手動でタイトルやコンテンツを設定 -->
                {{ content }}
            </div>
        </div>

        <script>
        var gitbook = gitbook || [];
        gitbook.push(function() {
            gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
        });
        </script>
    </div>

    {%- include footer.html -%}
</body>
</html>